<%= form_for(@person) do |f| %>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <%= f.fields_for :user do |c| %>
        <p>
          <%= c.label :username %>
          <%= c.object.username %>
        </p>
    <% end %>
    <%= f.fields_for :contact_info do |c| %>
		<%= render "contact_info", :f => c %>
    <% end %>

	<p>
		<%= f.label :birthdate %>
		<%= f.date_field :birthdate%>
	</p>
    <p>
	  <%= f.label :emergency_contact %>
	  <%= f.text_area :emergency_contact %>
    </p>

    <p>
      <%= f.label :self_notes %>
      <%= f.text_area :self_notes %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', people_path %>