<%= form_for :person, url: people_path do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prevented this record from being saved:</h2>
          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <%= f.fields_for :user do |user| %>
        <%= render "user", :f => user %>
    <% end %>
    <p>
      <%= f.label :self_notes %>
      <%= f.text_area :self_notes %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', people_path %>