<%= form_for @user, url: users_path do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.fields_for :person do |p| %>
        <%#= render "person", :p => person %>
        <p>
          <%= p.label :first_name %>
          <%= p.text_field :first_name %>
        </p>
        <p>
          <%= p.label :last_name %>
          <%= p.text_field :last_name %>
        </p>
        <%= p.fields_for :contact_info, :hidden_field_id => false do |c| %>
            <p>
              <%= c.label :email %>
              <%= c.text_field :email %>
            </p>
        <% end %>
    <% end %>
    <%#= render partial: "person", locals: {person: @user.person} %>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', users_path %>