<p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :phone %><br>
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :website %><br>
  <%= f.text_field :website %>
</p>
<p>
  <%= f.label :address_street_1 %><br>
  <%= f.text_field :address_street_1 %>
</p>
<p>
  <%= f.label :address_street_2 %><br>
  <%= f.text_field :address_street_2 %>
</p>
<p>
  <%= f.label :address_city %><br>
  <%= f.text_field :address_city %>
</p>
<p>
  <%= f.label :address_state %><br>
  <%= f.text_field :address_state %>
</p>
<p>
  <%= f.label :address_zip %><br>
  <%= f.text_field :address_zip %>
</p>